.DS_Store
.env
.venv/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.db
*.sqlite
*.sqlite3
.coverage
htmlcov/

data/raw/*
!data/raw/.gitkeep
data/db/*
!data/db/.gitkeep
data/processed/*
!data/processed/.gitkeep
